<div class="container-fluid contents">
  <div class="row border-bottom text-center">
    <p class="text-center">
      <strong>DONGSUK, COME IN! GET IT!</strong>
    </p>
  </div>
  
  <router-outlet></router-outlet>

</div>