.contents {
  border-radius: 0 0 .25rem .25rem;
  border: 1px solid #e8e8e8;
  padding: 2rem 2rem 1rem;
  max-width: 960px;
  border-radius: 5px;
}

p {
  font-size: 18px;
}

.margin-top-5px {
    margin-top: 5px;
}
