<div class="keyword-form-container">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>When I Say</mat-label>
          <textarea matInput (keyup)="saveKeys($event)" [(value)]="strKeys" class="textarea"></textarea>
        </mat-form-field>
        <!-- <p class="detail-message" style="display: none">message..
          <strong>highlight</strong>
        </p> -->
      </div>
    </div>

    <div class="col-1"></div>

    <div class="col-7">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>DongSuk says</mat-label>
          <textarea matInput (keyup)="saveMessages($event)" [(value)]="strMessages" class="textarea"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="mx-auto"></div>
        <button *ngIf="isShow" (click)="save()" type="button" class="btn btn-outline-primary btn-save">
          <i class="material-icons align-middle">
            save
          </i>
          <span class="align-middle">Save</span>
        </button>

        <!-- delete button -->
        <button type="button" class="btn btn-outline-primary btn-delete" (click)="openDeleteModal(content)">
          <i class="material-icons align-middle">
            delete
          </i>
        </button>

        <!-- Confirm that delete keyword -->
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h5>Delete Keyword</h5>
            <button type="button" class="close" aria-label="Close" (click)="d()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this keyword?
          </div>
          <div class="modal-footer">
            <button (click)="d();" type="button" class="btn btn-secondary">Cancel</button>
            <button (click)="delete();d();" type="button" class="btn btn-primary">Delete</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>