.add-save-btn-container {
  display: flex;
}

.mat-form-field {
  /* margin-left: 10px; */
  /* margin-left : 5px;
  margin-right : 5px; */

  width: 100%;
}

/* .detail-message {
  color: rgb(113, 114, 116);
  font-size: 14px;
  margin-top: 5px;
} */

.btn-delete {
  margin-top: 5px;
}

.btn-save {
  margin-top: 5px;
  margin-right: 5px;
}

.keyword-form-container {
  /* border-bottom: 0.5px solid #e8e8e8; */
  /* padding-top: 30px; */
  padding-bottom: 40px;
}

.mat-form-field .textarea {
  /* margin-left: 10px; */
  /* margin-left : 5px;
  margin-right : 5px; */

  height: 100px;
}

.close {
  color: #fff;
}
