/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

nav {
  background-color : #007bff;
  color : rgba(255,255,255,0.5)
}

li-thanks-to {
  color : rgba(255,255,255,0.5);
  padding-right: .5rem;
  padding-left: .5rem;
}

.btn-thanks-to {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff;
}

.navbar-right-area {
  display: block!important;
  margin-left: auto!important;
}

.btn-thanks-to:hover {
  color: #007bff;
  background-color: #fff;
  background-image: none;
  border-color: #007bff;
}

.modal-header {
  color : #fff;
  background-color: #007bff;
}

.modal-thanks-to-footer {
  color : black;
  flex-direction: column;
}

.video-container {
  color: black;
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video-loading-message {
  color: #007bff;
  text-align: center;
  vertical-align: middle;
}

embed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
body { margin: 0; }
