  p {
    font-size: 18px;
  }
  
  .border-bottom {
    border-bottom: 0.5px solid #e8e8e8;
  }
  
  .btn-area {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .btn-mycolor {
    background: #f9f9f9;
    border: 1px solid #e8e8e8;
  }
  
  .margin-top-5px {
      margin-top: 5px;
  }
  