<div class="add-save-btn-container">
  <div class="row btn-area">
    <button (click)="addEmptyKeyword()" type="button" class="btn btn-outline-primary">
      <i class="material-icons align-middle">
        add
      </i>
      <span class="align-middle">Add</span>
    </button>
  </div>

  <app-keyword-form (formEvent)="formEvent($event)" *ngFor="let keyword of keywords.reverse() " [keyword]="keyword" [roomId]="roomId"></app-keyword-form>
